<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="amazona-logo">
          <a href="index.html">amazona</a>
        </div>
        <div class="amazona-links">
          <a>Sign in</a>
          <a>Cart</a>
        </div>
      </header>
      <aside>shopping categories</aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXrkWGq9KH81UxBtuGFu4D6U5jI1mmD8LbDEYpDNltlPi4_93B&usqp=CAU"
                  alt=""
                />
                <div class="product-name">
                  <a href="#">Slim shirt </a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXrkWGq9KH81UxBtuGFu4D6U5jI1mmD8LbDEYpDNltlPi4_93B&usqp=CAU"
                  alt=""
                />
                <div class="product-name">
                  <a href="#">Slim shirt </a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
                <div class="product-rating">4.5</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXrkWGq9KH81UxBtuGFu4D6U5jI1mmD8LbDEYpDNltlPi4_93B&usqp=CAU"
                  alt=""
                />
                <div class="product-name">
                  <a href="#">Slim shirt </a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXrkWGq9KH81UxBtuGFu4D6U5jI1mmD8LbDEYpDNltlPi4_93B&usqp=CAU"
                  alt=""
                />
                <div class="product-name">
                  <a href="#">Slim shirt </a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXrkWGq9KH81UxBtuGFu4D6U5jI1mmD8LbDEYpDNltlPi4_93B&usqp=CAU"
                  alt=""
                />
                <div class="product-name">
                  <a href="#">Slim shirt </a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        all rights are reserved
      </footer>
    </div>
  </body>
</html>
