.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-image {
  flex: 1 1 40rem;
}
.details-image img {
  max-width: 40rem;
  width: 100%;
}
.detail-info {
  flex: 1 1 30rem;
}
/*.details-action {

  flex: 1 1 30rem;
}*/
